body {
    margin: 0;
    display: flex;
}

.menu {
    width: 270px;
    height: 1000px;
    background-color: #3b82f6;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 15px;
}

.menu h1 {
    color: white;
}

.menu button {
    background-color: #3b82f6;
    border: none;
    color: white;
    padding: 15px;
    text-align: left;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
}

.menu button:hover {
    background-color: #2563eb;
}

.contingut {
    flex: 1;
    padding: 20px;
}

/* header */
.header {
    background-color: #f3f4f6;
    padding: 20px;
    border-radius: 10px;
}

.header h1 {
    display: flex;
    justify-content: center;
}

/* accions */
.accions {
    display: flex;
    justify-content: space-between;
}

/* Botó Crear Nova Tasca */
.boto-crear {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.boto-crear:hover {
    background-color: #2563eb;
}

/* importar */
.importar {
    display: flex;
    gap: 10px;
}

.importar input {
    padding: 10px;
    border: 1px;
    border-radius: 5px;
}

/* Botó pujar */
.boto-pujar {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.boto-pujar:hover {
    background-color: #2563eb;
}

/* apartats */
.apartat {
    margin-top: 30px;
}